/* The 'wildcard' set default sizing to the foundation of the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This sets the background color of the webpage to grey */
body {
    background-color: #d9dcd6;
}

/* This styles the 'header' values by adding a font color, background color, and padding 
which gives some space around the title*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This sets the font size to 'Horiseon' */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the letters 'seo' on the header to a grey color */
.header h1 .seo {
    color: #d9dcd6;
}

/* This adds some space around the navagtion bar entities. 
This also sets the font type and size for the text, and aligns it along with the right side of the screen */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This removes any style to the navbar entities */
.header nav ul {
    list-style-type: none;
}

/* This neatly spaces the entities on the navbar */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This sets the color to the navbar text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This sets the font size for all paragraphs coming in from the html file */
p {
    font-size: 16px;
}

/* This formats and pulls the main image on the website. It sets the sepecific height an itsd width on the screen. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This sets an image to be on the left side of it parent container and gives it a margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This sets an image to the right side of its parent container and gives it a margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This determines how much space the 'section' portion should take up on the screen. 
It also formats it so that they are neatly stacked on top of each other */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This formats the contents of the 'aside' portion of html. This sets the font, 
determines how much of the screen it should take up, background color, and which side of the screen it should be located on */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This sets the color of the text in this section and also neatly spaces the different section under the parent 'benefits' */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This sets the color of the text in this section and also neatly spaces the different section under the parent 'benefits' */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This sets the color of the text in this section and also neatly spaces the different section under the parent 'benefits' */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This centers the title on the aside section and gives it some space from the text and image below it */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This centers the title on the aside section and gives it some space from the text and image below it */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This centers the title on the aside section and gives it some space from the text and image below it */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This sets the image size and formats it into the center of the 'aside' section */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This sets the image size and formats it into the center of the 'aside' section */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This sets the image size and formats it into the center of the 'aside' section */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This applies to the 'article' section of html. It sets the font type, background color, and text color.
It also formats the content so that it fits neatly into the center of its parent container and doesnt overlap with any 
other containers */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This applies to the 'article' section of html. It sets the font type, background color, and text color.
It also formats the content so that it fits neatly into the center of its parent container and doesnt overlap with any 
other containers */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This applies to the 'article' section of html. It sets the font type, background color, and text color.
It also formats the content so that it fits neatly into the center of its parent container and doesnt overlap with any 
other containers */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets the size of the image for the article sections */
.search-engine-optimization img {
    max-height: 200px;
}

/* Sets the size of the image for the article sections */
.online-reputation-management img {
    max-height: 200px;
}

/* Sets the size of the image for the article sections */
.social-media-marketing img {
    max-height: 200px;
}

/* Sets the title size and gives it some space on the bottom from the text for the 'article' section */
article.h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* This adds a padding around the footer text. It also centers the text and sets a font style */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This sets the font size to the footer */
.footer h2 {
    font-size: 20px;
}
